header {
        background: #cccccc;
        padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-family: cursive;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover {
    color: #180D88;
    text-decoration: underline;
}
